<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <img class="logoNavBar" src="assets/logo_bueno.png" alt="Logo de la aplicación">
        <a class="navbar-brand" href="#">Rol Lobby</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['welcome']">Inici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['classe-list']">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['manual-list']">Manuals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['raza-list']">Races</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['campanya-list']">Campanyes</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['personatge-list']">Personatges</a>
                </li>
            </ul>
        </div>
    </div>
</nav>