<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="panel panel-primary shadow-sm rounded">
                <div class="panel-heading bg-primary text-white p-3 text-center">
                    <h3 class="panel-title mb-0">Llistat de races</h3>
                </div>
                <div class="panel-body p-4">
                    <div *ngIf="races.length == 0" class="text-center text-muted">
                        <h4>No hi ha races</h4>
                    </div>
                    <div *ngIf="races.length > 0" class="table-responsive">
                        <table class="table table-bordered table-striped table-hover text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nom</th>
                                    <th>Descripció</th>
                                    <th>Joc</th>
                                    <th>Accions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let raza of races">
                                    <td>{{raza.nom}}</td>
                                    <td>{{raza.descripcio}}</td>
                                    <td>{{raza.manual.nom}}</td>
                                    <td>
                                        <button [routerLink]="['/videojoc-edit', raza.id]"
                                            class="btn btn-sm btn-primary me-2">
                                            <i class="fas fa-edit"></i> Editar
                                        </button>
                                        <button (click)="eliminarRaza(raza.id)" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>