.welcome-header {
    text-align: center;
}

.logo {
    height: 300px;
    width: auto;
}

.welcome-card {
    margin-top: 20px;
    border-radius: 15px;
    background: #f8f9fa;
}

.card-text {
    font-size: 1.15rem;
}